<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form (ngSubmit)="onLogIn()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" [(ngModel)]="username">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
