<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">EMPOWER!</h1>
      <p>This toolkit is here to support local authorities and - initiatives in meeting their city's energy transision goals.<br>
        It aims to align the city strategies with the local initiatives wishes by:
      </p>
      <ul>
        <li>Inviting Local Authorities to reflect and to evaluate their own strategies and plans.</li>
        <li>Structuring the existing information about on-going programs and projects.</li>
        <li>Providing an overview of what's already happening in the city. </li>
        <li>Facilitating the setting-up and scaling-up of Local Initiatives, injecting support from the Local Authorities when and where needed</li>
        <li>Offering advice from the EMPOWER partners. </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Inspiration</h2>
        <p>Want to be inspired? Press the button for more info!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/inspiration">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Video Library</h2>
        <p>Want to visit our video library? Press the button for more info!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/library">View details »</a></p>
      </div>
    </div>
    <hr>
  </div>
</main>
