<div class="wrapper">
  <div id="formContent">
    <h3>Sign Up</h3>
    <form (ngSubmit)="onSignUp()">
      <input type="text" name="username" placeholder="new username" id="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      <input type="text" name="password" placeholder="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" #pwField="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[.?!@#$%^&*_=+-]).{8,}$">
      <div *ngIf="!pwField.valid">Your password should contain at least:<br> 8 characters,<br> one digit,<br> one upper-case,<br> one special character (ex: .?!@#$%^&*_=+-).</div>
      <input type="text" name="confirmPassword" id="confirmPassword" placeholder="confirm password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
        <label for="userType" style="padding-top: 7px; color: dimgrey">
          What type of user are you?
<!--          <select class="form-control" id="userType" style="width: 380px" [(ngModel)]="userType" [ngModelOptions]="{standalone: true}">-->
<!--            <option>Initiative</option>-->
<!--            <option>Authority</option>-->
<!--          </select>-->
          <input type="text" id="userType" style="width: 380px" [(ngModel)]="userType" [ngModelOptions]="{standalone: true}">
        </label>
      <input type="text" name="title" id="title" placeholder="title of initiative or authority" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
      <input type="text" name="description" id="description" placeholder="brief description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
      <input type="submit" id="signupButton" value="Sign Up">
    </form>
  </div>
</div>
